[submodule "public"]
	path = public
	url = git@github.com:amerghazal/amerghazal.github.io.git
	branch = master
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
